body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-image: url("bg.png") }
    a {
        margin: auto }
        a:hover {
            background: black; }
        .extern {
            background-image: url(./icons/facebook-logo.png);
            background-position: top right;
            background-repeat: space;
            padding-right: 0px; 
            padding-left: 0px;
            padding-top: 5px; 
            padding-bottom: 0px; }
        .extern1 {
            background-image: url(./icons/instagram-logo.png);
            background-position: top right;
            background-repeat: space;
            padding-right: 0px; 
            padding-left: 0px;
            padding-top: 5px; 
            padding-bottom: 0px; }
    h1 {
        font-family: Arial, Helvetica, sans-serif }
    h2 {
        font-family: Arial, Helvetica, sans-serif }
    h3 {
        font-family: Arial, Helvetica, sans-serif }
    nav {
        position: fixed;
        right: 233px; }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-radius: 0px 0px 7px 7px; }
    li {
        float: left;
        background-color: #333333; }
    a {
        display: block;
        padding: 10px;
        color:  white;
        text-decoration: none; }
    a:visited {
        color: white; }
    a:hover {
        background-color:#000000;
        color: white; }
    a:active {
        background-color: dimgrey;
        color:white; }
    a.currentlink {
        background-color: grey;
        color: ivory;
        font-weight: bold; }
    section { 
        width:800px; height:auto;
        margin:auto }
    form {
        width: 490px; } 
    input {
        width: 270px;
        height: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: white;
        background-color: darkgray;
        padding-left: 20px;
        margin-bottom: 5px;
        border: 1px solid white; }
    textarea {
        width: 370px;
        height: 60px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        padding-left: 20px;
        padding-top: 5px;
        background-color: darkgray;
        border: 1px solid white; }
    .input-button {
        width: 100px;
        padding-left: 0; } 
    .input-button:hover{
        color: #333333; }
    ::placeholder {
        color: white; }
        
        