body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-image: url("bg.png") }
    a {
        margin: auto }
        a:hover {
            background: black; }
        .extern {
            background-image: url(./icons/facebook-logo.png);
            background-position: top right;
            background-repeat: space;
            padding-right: 0px; 
            padding-left: 0px;
            padding-top: 5px; 
            padding-bottom: 0px; }
        .extern1 {
            background-image: url(./icons/instagram-logo.png);
            background-position: top right;
            background-repeat: space;
            padding-right: 0px; 
            padding-left: 0px;
            padding-top: 5px; 
            padding-bottom: 0px; }
    h1 {
        font-family: Arial, Helvetica, sans-serif }
    h2 {
        font-family: Arial, Helvetica, sans-serif }
    h3 {
        font-family: Arial, Helvetica, sans-serif }
    nav { 
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        position: fixed;
        box-sizing: border-box; border-radius: 0px 0px 10px 10px; line-height: 40px;
        top: 0px;
        right: 322px;
        background: black }
        a:hover {
                background: whitesmoke; }
        a { 
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            color: whitesmoke }
    .red {
        color: grey; }
    section { 
        width:800px; height:auto;
        margin:auto }
    form {
        width: 490px; } 
    input {
        width: 270px;
        height: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: white;
        background-color: darkgray;
        padding-left: 20px;
        margin-bottom: 5px;
        border: 1px solid white; }
    textarea {
        width: 370px;
        height: 60px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        padding-left: 20px;
        padding-top: 5px;
        background-color: darkgray;
        border: 1px solid white; }
    .input-button {
        width: 100px;
        padding-left: 0; } 
    .input-button:hover{
        color: #333333; }
    ::placeholder {
        color: white; }
        
        