body {
    background-image: url(./images/DRUMPAD_BG.jpg);
    background-size: 100%;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
    color: white;
    text-align: center;
    margin-top: 2%;

}

.SamplePlay {
    position: relative;
    margin-left: 49%;
    margin-top: 33%;
    transition: transform .2s, visibility .2s ease-in; 
}

.SamplePlay:hover {
    transform: scale(1.1);
}

#ButtonOne {
    position: absolute;
    left: 40%;
    top: 27%;
    background-image: linear-gradient(to Bottom right, #650000, #990000 );
    width: 80px;
    height: 80px;
    border-radius: 100%;
    transition: transform .2s, visibility .2s ease-in; 
}

#ButtonOne:hover {
    transform: scale(1.1);
}

#ButtonTwo {
    position: absolute;
    left: 47%;
    top: 27%;
    background-image: linear-gradient(to Bottom right, #650000, #990000 );
    width: 80px;
    height: 80px;
    border-radius: 100%;
    transition: transform .2s, visibility .2s ease-in; 
}

#ButtonTwo:hover {
    transform: scale(1.1);
}

#ButtonThree {
    position: absolute;
    left: 54%;
    top: 27%;
    background-image: linear-gradient(to Bottom right, #650000, #990000 );
    width: 80px;
    height: 80px;
    border-radius: 100%;
    transition: transform .2s, visibility .2s ease-in; 
}

#ButtonThree:hover {
    transform: scale(1.1);
}

#ButtonFour {
    position: absolute;
    left: 40%;
    top: 42%;
    background-image: linear-gradient(to Bottom right, #650000, #990000 );
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

#ButtonFour:hover {
    transform: scale(1.1);
}

#ButtonFive {
    position: absolute;
    left: 47%;
    top: 42%;
    background-image: linear-gradient(to Bottom right, #FF8C00, #FFA500 );
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

#ButtonFive:hover {
    transform: scale(1.1);
}

#ButtonSix {
    position: absolute;
    left: 54%;
    top: 42%;
    background-image: linear-gradient(to Bottom right, #FF8C00, #FFA500 );
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

#ButtonSix:hover {
    transform: scale(1.1);
}

#ButtonSeven {
    position: absolute;
    left: 40%;
    top: 57%;
    background-image: linear-gradient(to Bottom right, #228B22, #9ACD32 );
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

#ButtonSeven:hover {
    transform: scale(1.1);
}

#ButtonEight {
    position: absolute;
    left: 47%;
    top: 57%;
    background-image: linear-gradient(to Bottom right, #228B22, #9ACD32 );
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

#ButtonEight:hover {
    transform: scale(1.1);
}

#ButtonNine {
    position: absolute;
    left: 54%;
    top: 57%;
    background-image: linear-gradient(to Bottom right, #228B22, #9ACD32 );
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

#ButtonNine:hover {
    transform: scale(1.1);
}
