body {
    margin: 0;
    min-width: 300px;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}

.header {
    background-color: #f43c2f;
    padding: 30px 42px;
    color: white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

.fa-trash {
    color: #f9e1e0;
}

.fa-trash:hover {
    color: #f67280;
}

ul {
    position: absolute;
    top: 150px;
    width: 90%;
    float: left;
    border-radius: 5px;
}

li {
    padding: 5px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.75);
    background: #f43c2f;
    box-shadow: 1px 1px 2px rgba(8, 16, 24, 0.699);
    margin: 20px;
    border-radius: 2px;
    list-style: none;
}

#Input {
    width: 70%;
    padding: 10px;
    float: left;
    font-size: 15px;
    margin: 0;
    border: none;
    border-radius: 0;
}

.createButton {
    background-color: #ccc;
    padding: 11px;
    font-size: 15px;
    width: 30%;
    color: black;
    float: left;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.createButton:hover {
    background-color: grey;
    color: white;
}


