body {
    background-image: url(../images/BackgroundTurn.jpg);
    width: 100%;
    text-align: center;
}

.logo {
    max-width: 200px;
}

.startbutton {
    width: 200px;
    height: auto;
    text-align: center;
    transform-origin: center;
    transition: transform .2s, visibility .2s ease-in; 
}

.startbutton:hover {
    transform: scale(1.1);
    -webkit-filter: invert(1);
    filter: invert(1);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: white;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: darkred; 
}