body {
    margin: auto;
    color: none;
    background-image: url("./Aufgabe_3/Station_1_Positionierung/images/bg.png")
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 50%;
    max-width: 600px;
    top: 35%;
    left: 42%;
    transform: translate(-50%, -50%);
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: white;
    position: absolute;
    top: 50%;
    max-width: 600px;
    top: 55%;
    left: 45.5%;
    transform: translate(-50%, -50%);
}
.container {
    position: absolute;
    top: 50%;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
@keyframes example {
    0%   {background-color: none;}
    25%  {background-color: none;}
    50%  {background-color: none;}
    100% {background-color: none;}
div {
    width: 100px;
    height: 100px;
    background-color: black;
    animation-name: example; 
    animation-duration: 4s;
}
.snow1 { 
    position: absolute;
    top: 50%;
    max-width: 600px;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}
.snow2 {
    position: absolute;
    top: 50%;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

